@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.3rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);
  backdrop-filter: saturate(180%) blur(3px);
  z-index: 22;
}

/* #header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 20;
} */
.navbar {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}
.logo {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.logo span {
  font-weight: 300;
}

.hamburger-menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1.55rem;
  height: 1.55rem;
  cursor: pointer;
  z-index: 21;
}

.bar {
  display: block;
  width: 1.2rem;
  height: 3px;
  border-radius: 2px;
  background: #fff;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 1.55rem;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
}

.bar::before {
  transform: translateY(-8px);
}
.bar::after {
  transform: translateY(8px);
}

/* Main */
#main {
  width: 100%;
}

/* Home */
.section {
  width: 100%;
  min-height: 100vh;
}

.home {
  height: 100vh;
}

section .container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.home .container {
  width: 100%;
  height: 100%;
}

.home-title {
  position: absolute;
  top: calc(50% - 2rem);
  width: 100%;
  font-size: 5rem;
  line-height: 4rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  z-index: 20;
}

.background-images {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-images img {
  position: absolute;
}

.mountine1 {
  bottom: -100px;
  right: 0;
  width: 1600px;
  z-index: 9;
}

.mountine2 {
  bottom: -10vw;
  left: 0;
  width: 100%;
  min-width: 1600px;
  z-index: 8;
}

.sky {
  top: 0;
  width: 100%;
  height: 130vw;
  min-width: 1000px;
  z-index: 7;
}

.person {
  bottom: 0;
  width: 400px;
  z-index: 10;
}

/* About */

.about {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #151515;
}
.shadow {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 300px;
  background: linear-gradient(to top, #151515, transparent);
  z-index: 20;
}
.about .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-auto-rows: auto;
  gap: 3rem;
  padding: 5rem 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.about .title {
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  overflow: hidden;
}

.border {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 3px;
  background-color: #fff;
}

.text {
  line-height: 1.4;
  word-break: keep-all;
}

.img-container img {
  width: 100%;
  height: 100%;
}

/* Section line */
.section-line {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 30vh;
  color: #fff;
  text-align: center;
  background-image: url(../assets/images/line-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  opacity: 0.65;
}

.section-line .container {
  display: flex;
  justify-content: center;
  z-index: 2;
}

.title-container .title {
  font-size: 1.5rem;
  font-weight: 400;
}

.title-container .title h2 {
  width: 80%;
  margin: 0 auto;
  border-top: 1.5px solid rgba(255, 255, 255, 0.7);
  padding-top: 1rem;
  text-align: center;
}

.title-container .title-desc {
  margin-bottom: 1rem;
  font-size: 0.6rem;
  font-weight: 200;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  word-spacing: 0.05rem;
  letter-spacing: 0.2rem;
  opacity: 0.6;
}

/* Gaellery */

.gallery {
  background-color: #f2f2f2;
}

.gallery .title-container {
  margin-bottom: 3rem;
}

.gallery .title-container h2 {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.gallery .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}

.gallery .img-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: minmax(300px, 350px);
  gap: 4rem;
}

.gallery .img-wrap {
  border-radius: 5px;
  padding: 1rem;
  background-color: #fff;
}

.gallery .img-wrap img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

/* Footer  */

#footer {
  width: 100%;
  height: 30vh;
  background: #151515;
}

#footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 3.5rem 0;
}

.sns-list {
  display: flex;
}

.sns-item:not(:last-child) {
  margin-right: 1rem;
}

.sns-item a {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.6);
}

.sns-item a:hover {
  color: #fff;
}

.copyright {
  font-size: 0.8rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 768px) {
  /* Home */

  .home-title {
    font-size: 10vw;
  }
  .mountine2 {
    bottom: 0px;
  }
  .sky {
    height: auto;
  }

  /* Gallery */
  .gallery .img-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media screen and (min-height: 950px) {
  .mountine2 {
    bottom: 40px;
  }
  .sky {
    height: 200vh;
  }
}
