@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* Header */
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);
  z-index: 22;
}

#header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 20;
}
.navbar {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}
.logo {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.logo span {
  font-weight: 300;
}

.hamburger-menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1.55rem;
  height: 1.55rem;
  cursor: pointer;
  z-index: 21;
}

.bar {
  display: block;
  width: 1.2rem;
  height: 3px;
  border-radius: 2px;
  background: #fff;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 1.55rem;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
}

.bar::before {
  transform: translateY(-8px);
}
.bar::after {
  transform: translateY(8px);
}

/* Main */
#main {
  width: 100%;
}

/* Home */
.home {
  width: 100%;
  height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home-title {
  position: absolute;
  top: calc(50% - 2rem);
  width: 100%;
  font-size: 5rem;
  line-height: 4rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  text-transform: uppercase;

  z-index: 20;
}

.background-images {
  width: 100%;
  height: 100%;
}

.background-images img {
  position: absolute;
}

.mountine1 {
  bottom: 0;
  right: 0;
  width: 1600px;
  z-index: 9;
}

.mountine2 {
  bottom: 0;
  left: 0;
  width: 1000px;
  z-index: 8;
}

.sky {
  top: 0;
  width: 1600px;
  z-index: 7;
}

.person {
  bottom: 0;
  width: 400px;
  z-index: 10;
}
